{% extends 'main/base.html' %}


{% load crispy_forms_tags %}
{% block content %}

    <div class="btn w-full btn-primary text-truncate  py-1 border-3 position-relative"
         style="z-index: 1000;">
        <h2><strong>STUDENT EXAMINE - {{ student.first_name|upper }} {{ student.last_name|upper }}</strong></h2>
    </div>
    <!--Exam form-->
    <div class="container center">
        <strong></strong>
        </br>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>


    </div>
    </br>
    <div class="btn w-full btn-warning text-truncate  py-1 border-3 position-relative"
         style="z-index: 1000;">
        <h3><strong>EXAM AUTHOR - {{ exam_author }}</strong></h3>
    </div>
{% endblock %}