{% extends 'main/base.html' %}

{% block content %}

    {% load static %}



    <!--CTA-->
    <div class="cta-banner">
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
                    <h1 class="display-4 font-weight-bold">Elevate your listening</h1>
                    <h5>Everyday headphones that make your favorite artists sound like their performing a never-ending
                        encore.</h5>
                    <a class="btn btn-primary mt-2" href="/products">FIND YOUR SET</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        .cta-banner {
            background-image: /* The image fade to white */ linear-gradient(to left, rgba(0, 0, 0, 0) 10%, #fff 85%),
                /* The image used */ url("{% static "img/cta-headphones.jpg" %}");
            /* Set a specific height */
            height: 400px;
            /* Create the parallax scrolling effect */
            background-attachment: local;
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: auto;
            position: relative;
        }
    </style>
{% endblock %}