{% extends "main/header.html" %}

{% block content %}

    {% load crispy_forms_tags %}

    <!--Login-->


    <div class="container d-flex justify-content-center">
        <div class="card mx-5 my-5">
            <div class="container py-5">
                <h1 class="font-weight-bold">Login</h1>
                <hr>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
                <br><br>
                <p>If you do not already have an account, <a href="/register">register</a> instead.</p>
            </div>
        </div>
    </div>
{% endblock %}