{% extends "main/base.html" %}

{% block content %}

    <!-- Article main content -->
    <div class="container py-3" style="padding-top: 80px">
        <header class="page-header">
            <h1 class="page-title">Sign in</h1>
        </header>

        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="thin text-center">Sign in to your account</h3>
                    <p class="text-center text-muted">Need An Account, <a
                            href="{% url 'member:register_user' %}">Register</a>. </p>
                    <hr>

                    <form method="POST">
                        {% csrf_token %}
                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}"/>
                        {% endif %}
                        <div class="top-margin">
                            <label for="username">username<span class="text-danger">*</span></label>
                            <input type="text" id="username" name="username" class="form-control">
                        </div>
                        <div class="top-margin">
                            <label for="password">Password <span class="text-danger">*</span></label>
                            <input type="password" id="password" name="password" class="form-control">
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-8">
                                <b><a href="">Forgot password?</a></b>
                            </div>
                            <div class="col-lg-4 text-right">
                                <button class="btn btn-action" type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <!-- /Article -->

{% endblock content %}