{% extends 'main/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <!-- Registration -->
    <div class="container py-3" style="padding-top: 80px">
        <header class="page-header">
            <h1 class="page-title">Registration</h1>
        </header>

        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="thin text-center">Register a new account</h3>
                    <p class="text-center text-muted">Already Have An Account, <a href="signin.html">Login.</a>
                        Please Register If You Do Not Have An Account. </p>
                    <hr>

                    <form>
                        <div class="top-margin">
                            <label>Username</label>
                            <input type="text" class="form-control">
                            <small>Required. 20 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
                        </div>
                        <div class="row top-margin">
                            <div class="col-sm-6">
                                <label>Password <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                                <br>
                            </div>
                            <div class="col-sm-6">
                                <label>Confirm Password <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row" style="text-align: center">
                            <div>
                                <small>
                                    Your password can’t be too similar to your other personal information.
                                </small>
                            </div>
                            <div>
                                <small>
                                    Your password must contain at least 8 characters.
                                </small>
                            </div>

                            <div>
                                <small>
                                    Your password can’t be a commonly used password.
                                </small>
                            </div>
                            <div>
                                <small>
                                    Your password can’t be entirely numeric.
                                </small>
                            </div>

                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-lg-8">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    I've read the <a href="page_terms.html">Terms and Conditions</a>
                                </label>
                            </div>
                            <div class="col-lg-4 text-right">
                                <button class="btn btn-action" type="submit">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <!-- /Registration -->
{% endblock %}
